*:focus { outline: 0 !important; }
html { padding: 0; }
body { 
	background-color: #333; 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.light-box {
	background-color: yellow;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    color: white;
}

th, td { padding: 5px; }

.welcome {
	margin-bottom: 30px;
	margin-top: 65px;
	text-align: center;
}

.welcome h3 #username {
	text-transform: capitalize;
}

h1 {
	color: #3DBF00;
	font-size: 64px;
	margin-bottom: 10px;
	margin-top: 30px;
}

h2 { color: #2F9400; }

h3 {
	color: #3DBF00;
	font-size: 20px;
	margin: 0;
}

h4 {
	color: #37AD00;
	margin: 0;
}

h5 {
	color: #2F9400;
	font-size: 16px;
	margin-top: 20px;
}

.marginTop {
	margin-top: 19px !important;
}

/************************************************************/
/************************** HEADER **************************/
/************************************************************/
.header {
	background-color: #333;
	height: 70px;
	/*height: 80px;*/
	position: fixed;
	width: 100%;
	z-index: 998;

	-webkit-box-shadow: 0 7px 9px -8px black;
	   -moz-box-shadow: 0 7px 9px -8px black;
	        box-shadow: 0 7px 9px -8px black;
}


/************************************************************/
/******************* HIDE STUFF ON MOBILE *******************/
/************************************************************/
.hidden {
	display: none;
}


/****************** INDEX CONTENT *******************/


/************************************************************/
/*************************** FORM ***************************/
/************************************************************/
.logInForm,
.signUpForm, 
.signUpForm { 
	margin-top: 40px;
	display: none; 
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

.input-lg {
	/*background-color: #333;
	border-bottom: 1px solid #777;
	color: #3DBF00;
	font-size: 16px;
	margin-left: 10%;
	margin-right: 10%;
	/*text-align: center;*/
	/*width: 80%;*/
}

.inputs {
	background: transparent;
    color: 	#3DBF00;
    font-size: 16px;
    letter-spacing: 1px; 
    margin: 0 10%;
    width: 80%;
	
    border: 0;
    border-bottom: 2px solid #3DBF00;
    border-radius: 0;
    box-shadow: none !important;
    outline: 0 none !important;


}

input:focus, .uneditable-input:focus {   
    border-color: rgba(61, 191, 0, 0.8) !important;
    box-shadow: none !important;
    outline: 0 none !important;
}


.inputs::-webkit-input-placeholder { color: #555; }
.inputs:-moz-placeholder { color: #555; }
.inputs::-moz-placeholder { color: #555; }
.inputs:-ms-input-placeholder { color: #555; }


/*****************************************************/
/********************** BUTTONS **********************/
/*****************************************************/
.btn {
	-webkit-border-radius: 50px;
  	   -moz-border-radius: 50px;
  	        border-radius: 50px;

	color: #eee !important;
	font-size: 17px;
	height: 56px;
	letter-spacing: 0.08em;
	outline: none;
	transition: all 0.2s ease;
	word-spacing: 5px;
}

.btn:hover { 
	-webkit-transform: scale(1.02);
	-ms-transform: scale(1.02);
    transform: scale(1.02); 

	-webkit-box-shadow: 0px 0px 66px -15px rgba(23,23,23,1);
	-moz-box-shadow: 0px 0px 66px -15px rgba(23,23,23,1);
	box-shadow: 0px 0px 66px -15px rgba(23,23,23,1);
}

.btn:active {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
    transform: scale(1); 
}

/********************** GREEN **********************/
.btnGreen { background-color: #3DBF00; }

/********************** GREY **********************/
.btnGrey { background-color: #444; color: #aaa !important; }
 
/********************** YELLOW **********************/
.btnYellow { background-color: #F5A400; }

/********************** ORANGE **********************/
.btnOrange { background-color: #E85A0C; }

/********************** RED **********************/
.btnRed { background-color: #FF2A3B; }

.btnGreen, 
.btnGrey {
	/*float: right;*/
	margin-bottom: 30px;
}

.btnWtf {
	float: left;   
	position: relative;
	/*left: 10px;*/
}

/* leave map/back to menu */
.backToMaps {
	float: right;
 	z-index: 999;
}

.btnYellow,
.btnOrange,
.btnRed {
	margin-bottom: 28px;
	width: 100%;
}

.playGroundBtns {
	/*margin-top: 100px;*/
}

.btnOk { margin-top: 10px; }

.btnSmall {
	height: 46px;
}

.btnSmall i { 
	font-size: 20px;
}

.btnSmallest {
	width: 46px;
}

.btnBack {
	display: none;
}

/* done + next-buttons */
.divMiddle button {
	display: none;
	font-size: 13px;
	width: 100%;
	z-index: 9979;
}


/* BTN NEXT */
.divMiddle button#next {
	display: none;

	background-color: #555;
	color: #bbb !important;
	padding: 6px 7px;
}
/* arrow */
.divMiddle button#next i {
	margin-left: 5px;
    font-size: 11px;
}


/******************** LOGIN-BUTTONS BOX ********************/
.loginSignupButtons { 
	margin-top: 90px;
	text-align: center; 
}

.header button {
	margin: 11px 0;
}

/******************** HEADER ********************/
.divLeft,
.divRight {
	display: none; /* varför denna? */
}

.divMiddle,
.divRight,
.divRight2 {
	/*padding-left: 5px !important;
	padding-right: 5px !important;*/
	
}

.divRight button,
.divRight2 button {
	float: right;
}

    


/******************** LEFT COLUMN ********************/
.divLeft {
	padding-left: 9px;
}

.divLeft #q1 {
	font-size: 14px;
	letter-spacing: 0.02em;
	margin: 15px 0 5px 0;
} 

.divLeft #q2 {
	font-size: 13px;
    margin: 5px 0 15px 0;
    letter-spacing: 0.3px;
    line-height: 1.2;
}


/******************** MIDDLE COLUMN ********************/
.divMiddle {
	padding-left: 0;
	text-align: center;
}

.divMiddle button {
	
}





/******************** RIGHT COLUMN ********************/

.divRight { 
	/*text-align: center; */
	padding-right: 7px;
}

.divRight2 { 
	padding-right: 10px;
}

.divRight2 {
	text-align: center; 
}

#lightboxWelcome {
	background-color: #333;
	/*display: none;*/

}

/*#lightboxWtf { display: none; }*/



/****************** HIGHSCORE TABLE******************/
.highscore { position: relative; }
.highscore .table {
	background-color: #333;
	left: 50%;
	margin-left: -100px;
	position: absolute;
	top: 100px;
	width: 200px;
	z-index: 1;
}

table, th, td { 
	border: 1px solid #444 !important;
	font-size: 16px; 
}

th { color: #3DBF00; }
td { color: #ddd; }

/********************** MAP **********************/
#map_canvas {
	position: absolute;
	height: 100%;
	width: 100%;
}



/**************************************** BIG MOBILE? ****************************************/

@media only screen and (min-width: 480px) {

	.btnBack, 
	.btnLogout { width: 100%; }


	.btnOk { margin-top: 30px; }

	.playGroundBtns {
		margin-top: 80px;
	}
}

/**************************************** TABLET ****************************************/
@media only screen and (min-width: 768px) {

	h1 { font-size: 130px; } 
	h3 { font-size: 40px; }
	h5 { font-size: 24px; }

	.divLeft #q1 { font-size: 20px; }
	.divLeft #q2 { font-size: 14px; }

	.hidden {
		display: inline-block !important;
	}

	.btnBack,
	.btnLogout {
		top: 20px;
		left: 5;
	}

	.btnOk {
		margin-top: 50px;
		width: 260px;
	}

	.btnSmall {
		font-size: 16px;
	}
	
	.backToMaps {
		width: 100%;
	}

	.backToMaps i {
		margin-left: 8px;
	}

/* VAD ÄR DETTA????????? */
	.indexRow {
		margin-top: 150px;
	}

	.divLeft {
	    padding-left: 19px;
	}

	.divMiddle button {
		font-size: 16px;
	}

	.divMiddle button#next {
		padding: 6px 7px 6px 18px;
	}
	
	.divMiddle button#next i {
	    font-size: 13px;
	    margin-left: 9px;
	}

	.marginTop {
	    margin-top: 24px !important;
	}
}

/**************************************** DESKTOP SMALL ****************************************/
@media only screen and (min-width: 992px) {
	h1 { 
		font-size: 170px;	
	} 

	h3 {
		font-size: 50px;
	}

	.btnOk {
		width: 210px;
	}

	.divLeft #q2 {
		font-size: 16px;
	}

	.divRight2 {
	    padding-right: 15px;
	}
	
}

/**************************************** DESKTOP BIG ****************************************/
@media only screen and (min-width: 1200px) {
	.divMiddle button {
		max-width: 345px !important;
	}

	.divRight2 button {
		max-width: 300px !important;
	}
}	