


/************************ COLORS ************************/
$white: #fff;
$grey-dark: #777;
$grey-darker: #444;

$border-color: #999;
$border-color-btn: #d0d0d0;

$moxie-color: #FF980D;

$bg-moxie: #fff;
$bg-about: darken($white, 3%);
$bg-contact: #FFDEFF;

$test-yellow: #FFFFD0;


